html {
  height: 100vh;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chocolate;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border-radius: 0;
  border: none;
  cursor: pointer;
}

button:hover {
  filter: opacity(0.8);
}

button:focus {
  outline: none;
}

.calculator {
  width: 400px;
  box-shadow: 0px 5px 30px 5px #0000003b;
}

.calculator-display {
  background-color: black;
  color: #fff;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.75rem 0.75rem;
  text-align: right;
  overflow-x: auto;
}

.calculator-display h1 {
  margin: 0;
  font-weight: 100;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2px;
  background-color: #555;
  height: 300px;
}

.operator.equal {
  grid-row: 2 / span 4;
  grid-column: 4 / span 1;
  background-color: green;
  color: #fff;
}

.clear {
  background-color: red;
  color: #fff;
}

.operator,
.decimal {
  background-color: rgb(151, 151, 151);
}
