body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 50vmin;
  height: 50vmin;
  border: 1px solid #00c4cc;
  background-color: #00c4cc3b;
  border-radius: 50%;
  position: relative;
}

.clock > div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.clock .circle {
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  background-color: rgb(255, 173, 79);
  transform: translate(-50%, -50%);
}

.clock .clock-hand {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: left;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.hour {
  width: 12.5vmin;
  height: 3px;
  background-color: #7d2ae8;
  animation-name: rotate;
  animation-duration: 43200s;
}

.minute {
  width: 15vmin;
  height: 3px;
  background-color: #30e82a;
  animation-name: rotate;
  animation-duration: 3600s;
}

.second {
  width: 17.5vmin;
  height: 3px;
  background-color: #e82a79;
  animation-name: rotate;
  animation-duration: 60s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
